<!DOCTYPE html>
<html>
  <head>
    <title>Gahoot Server</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon_orange.svg') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
